.video-control-bar {
  $playW: 18px;
  $timelineW: 1300px;
  $timelineH: 7px;
  $padding: 6px;
  $gap: 10px;
  $durationW: 90px;
  $controlBarW: $padding + $playW + $gap + $timelineW + $gap + $durationW;
  $controlBarH: $timelineH + 2*$padding;

  position: absolute;
  width: $controlBarW;
  bottom: 200px;

  left: 50%;
  transform: translateX(-50%);

  $contentBarBackground: rgba(0, 0, 0, 0.7);
  background-color: $contentBarBackground;
  padding: $padding;

  display: none;
  &.show {
    display: block;
  }

  .play-button, .pause-button {
    vertical-align: middle;
    width: $playW;
    height: 26px;

    display: none;
    &.show {
      display: inline-block;
    }
  }

  .timeline {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 10px;
    width: $timelineW;
    height: $timelineH;
    background-color: #555555;
  }

  .timeline-progress, .timeline-seek, .ad-markers {
    position: absolute;
    top: 0;
    left: 0;
    height: $timelineH;
  }

  .timeline-progress {
    background-color: white;
  }

  .timeline-seek {
    background-color: #888888;

    display: none;
    &.show {
      display: block;
    }
  }

  .ad-markers {
    width: 100%;

    display: none;
    &.show {
      display: block;
    }

    .ad-break {
      position: absolute;
      background-color: darkgoldenrod;
      width: 4px;
      height: 100%;
    }
  }

  .current-time, .duration {
    display: inline-block;
    color: white;
    font-size: 20px;
  }

  .current-time {
    text-align: center;
    position: absolute;

    background-color: $contentBarBackground;

    width: auto;
    padding: $padding;
    height: 1.2em;

    top: -34px;
    left: 0;
    transform: translateX(-50%);
  }

  .duration {
    vertical-align: middle;
    margin-left: $gap;
    text-align: left;
    height: $timelineH;
    line-height: $timelineH;
  }
}

.ad-indicator {
  position: absolute;
  padding: 12px;
  left: 40px;
  top: 40px;
  color: white;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  &.show {
    display: block;
  }
}
