* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font: normal 20px 'Open Sans', Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  text-align: left;
  padding: 0;
  margin: 0;
}

h1, h3 {
  font-size: 32px;
}

// Intended to be at design size of 1920x1080, scaled to fit to the window, centered.
.app-content {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  display: none;

  &.visible {
    display: block;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#home-page {
  background-image: url("./assets/details_flow_bg.png");
  background-size: cover;

  .content-area {
    position: absolute;
    top: 186px;
    left: 160px;
  }

  .title {
    font-size: 60px;
    font-weight: bold;
  }

  .description {
    font-size: 30px;
    line-height: 1.8em;
    width: 55em;
    margin-top: 10px;
  }

  .play-content-button {
    margin-top: 20px;
    width: 354px;
    height: 94px;
    background-image: url("./assets/play-content-button.png");
    background-size: cover;
    background-color: transparent;
  }
}

.tray {
  .selected-tile {

  }
}

.truex-vision-logo {
  position: absolute;
  top: 40px;
  left: 40px;
  $logoImageW: 566px;
  $logoImageH: 121px;
  $logoW: 300px;
  width: $logoW;
  height: ($logoW * $logoImageH) / $logoImageW;
  background-image: url("./assets/true-vision-logo.png");
  background-size: cover;
}

.background-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1080px;
  background: linear-gradient(bottom, rgba(50, 50, 50, 1), rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(bottom, rgba(50, 50, 50, 1), rgba(0, 0, 0, 0));
}

.action-button {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: 0.2s;

  text-align: left;
  font: normal 12px sans-serif;

  background-color: white;
  border: 1px solid #dbe3e7;
  border-radius: 3px;
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

  margin: 0 12px 14px 0;
  padding: 25px;

  font-size: 22px;

  .label {
    font-weight: bold;
    text-overflow: ellipsis;
    margin: 0;
    text-decoration: none;
    color: #2B2E31;
  }

  .focused-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: 0.4s;
  }

  &.hasFocus .focused-background {
    opacity: 1;
  }
}

@import './support/debug-log';